* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 20px;
}

p {
	display: inline-block;
	margin-bottom: 10px;
}

.btn {
	display: inline-block;
	background-color: red;
	color: white;
	padding: 0px 5px;
	border-radius: 5px;
	cursor: pointer;
}